# Q1: Import pandas library

In [ ]:
# write your code here ^_^
import pandas as pd

# Q2: Read instagram_users.csv file

In [ ]:
# write your code here ^_^
df = pd.read_csv('instagram_users.csv')
df

,pos,flw,flg,bl,pic,lin,cl,cz,ni,erl,erc,lt,hc,pr,fo,cs,pi,class
0,44,48,325,33,1,0,12,0.000000,0.000,0.000000,0.00,0.000,0.000,0.0,0.000,0.111111,0.094985,f
1,10,66,321,150,1,0,213,0.000000,1.000,14.390000,1.97,0.000,1.500,0.0,0.000,0.206826,230.412857,f
2,33,970,308,101,1,1,436,0.000000,1.000,10.100000,0.30,0.000,2.500,0.0,0.056,0.572174,43.569939,f
3,70,86,360,14,1,0,0,1.000000,0.000,0.780000,0.06,0.000,0.000,0.0,0.000,1.000000,5.859799,f
4,3,21,285,73,1,0,93,0.000000,0.000,14.290000,0.00,0.667,0.000,0.0,0.000,0.300494,0.126019,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65321,13,145,642,0,1,0,7,0.461538,0.000,14.270000,0.58,0.000,0.077,0.0,0.000,0.192308,1745.291260,r
65322,652,3000,1300,146,1,1,384,0.000000,0.389,8.520000,0.13,0.000,1.611,0.0,0.000,0.169917,54.629120,r
65323,1500,3700,3200,147,1,1,129,0.000000,0.111,9.390000,0.31,0.722,0.000,0.0,0.056,0.058908,129.802048,r
65324,329,1500,1800,218,1,1,290,0.055556,0.000,6.350000,0.26,0.222,0.500,0.0,0.000,0.103174,53.402840,r
65325,206,659,608,27,1,0,77,0.000000,0.333,25.549999,0.53,0.222,0.222,0.0,0.167,0.017505,604.981445,r

# Q3: Print the number of rows and columns contained in the dataset

In [ ]:
# write your code here ^_^
print(df.shape) #rows, culumn

(65326, 18)

# Q4: Print the size of dataset

In [ ]:
# write your code here ^_^
print(df.size)

1175868

# Q5: Print the data type of each column

In [ ]:
# write your code here ^_^
print(df.dtypes)

pos        int64
flw        int64
flg        int64
bl         int64
pic        int64
lin        int64
cl         int64
cz       float64
ni       float64
erl      float64
erc      float64
lt       float64
hc       float64
pr       float64
fo       float64
cs       float64
pi       float64
class     object
dtype: object

# Q6: Print the entire dataset
Note: if your dataset contains more than 60 rows, only the first 5 rows and the last 5 rows will be printed.

In [ ]:
# write your code here ^_^
print(df)

        pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
0        44    48   325   33    1    0   12  0.000000  0.000   0.000000  0.00
1        10    66   321  150    1    0  213  0.000000  1.000  14.390000  1.97
2        33   970   308  101    1    1  436  0.000000  1.000  10.100000  0.30
3        70    86   360   14    1    0    0  1.000000  0.000   0.780000  0.06
4         3    21   285   73    1    0   93  0.000000  0.000  14.290000  0.00
...     ...   ...   ...  ...  ...  ...  ...       ...    ...        ...   ...
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
0      0.000  0.000  0.0  0.000  0.111111     0.094985     f
1      0.000  1.500  0.0  0.000  0.206826   230.412857     f
2      0.000  2.500  0.0  0.056  0.572174    43.569939     f
3      0.000  0.000  0.0  0.000  1.000000     5.859799     f
4      0.667  0.000  0.0  0.000  0.300494     0.126019     f
...      ...    ...  ...    ...       ...          ...   ...
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

[65326 rows x 18 columns]

# Q7: Print the first 5 rows

In [ ]:
# write your code here ^_^
print(df.head(5))

   pos  flw  flg   bl  pic  lin   cl   cz   ni    erl   erc     lt   hc   pr  \
0   44   48  325   33    1    0   12  0.0  0.0   0.00  0.00  0.000  0.0  0.0
1   10   66  321  150    1    0  213  0.0  1.0  14.39  1.97  0.000  1.5  0.0
2   33  970  308  101    1    1  436  0.0  1.0  10.10  0.30  0.000  2.5  0.0
3   70   86  360   14    1    0    0  1.0  0.0   0.78  0.06  0.000  0.0  0.0
4    3   21  285   73    1    0   93  0.0  0.0  14.29  0.00  0.667  0.0  0.0

      fo        cs          pi class
0  0.000  0.111111    0.094985     f
1  0.000  0.206826  230.412857     f
2  0.056  0.572174   43.569939     f
3  0.000  1.000000    5.859799     f
4  0.000  0.300494    0.126019     f

# Q8: Print the last 5 rows

In [ ]:
# write your code here ^_^
print(df.tail(5))

        pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

# Q9: Print the count, mean, std, min, 25%, 50%, 75% and the max for each column

In [ ]:
# write your code here ^_^
print(df.describe())

                pos           flw           flg            bl           pic  \
count  65326.000000  6.532600e+04  65326.000000  65326.000000  65326.000000
mean     176.571227  1.183077e+03   2310.519211     57.497061      0.951765
std      723.470655  2.170802e+04   2592.096104     64.129260      0.214264
min        0.000000  0.000000e+00      0.000000      0.000000      0.000000
25%        6.000000  1.230000e+02    394.000000      0.000000      1.000000
50%       30.000000  3.380000e+02    995.000000     32.000000      1.000000
75%      124.000000  8.170000e+02   3600.000000    110.000000      1.000000
max    76200.000000  3.900000e+06   8800.000000    555.000000      1.000000

                lin            cl            cz            ni           erl  \
count  65326.000000  65326.000000  65326.000000  65326.000000  65326.000000
mean       0.281925    136.520344      0.250012      0.193229     19.146641
std        0.449940    215.714486      0.337891      0.252939    121.047570
min        0.000000     -1.000000      0.000000      0.000000      0.000000
25%        0.000000      8.000000      0.000000      0.000000      2.730000
50%        0.000000     46.000000      0.055556      0.059000      9.450000
75%        1.000000    170.000000      0.444444      0.333000     18.680000
max        1.000000   3644.000000      1.000000      1.000000  26650.000000

                erc            lt            hc            pr            fo  \
count  65326.000000  65326.000000  65326.000000  65326.000000  65326.000000
mean       1.139421      0.208877      0.507796      0.032745      0.052837
std        5.810627      0.300362      1.156921      0.220987      0.519058
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.080000      0.000000      0.000000      0.000000      0.000000
50%        0.440000      0.000000      0.077000      0.000000      0.000000
75%        1.040000      0.333000      0.611000      0.000000      0.000000
max     1009.090027      1.000000     30.000000     20.000000     58.000000

                 cs            pi
count  65326.000000  65326.000000
mean       0.299098    496.475193
std        0.349604    944.905389
min        0.000000      0.000000
25%        0.033327     24.571458
50%        0.136915    183.227943
75%        0.456342    580.771927
max        1.000000  26786.134766

In [ ]:
from IPython.display import HTML, display
display(HTML("<h3 style='color: green;'>Assignment3 Done! ＼(＾▽＾)／ </h3>"))